<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/util.css">
    <title>Admin</title>
</head>
<body id="body">

<div class="page">
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container-fluid navbar__container">
            <div class="navbar__info">
                <h2 class="navbar__email" th:text="${user.email}">}</h2>
                <p class="navbar__text">with roles:</p>
                <th:block th:each="role: ${auths}">
                    <h2 class="navbar__role" th:text="${role}"></h2>
                </th:block>
                <p id="id" class="invisible" th:text="${user.id}"></p>
            </div>
            <a class="navbar__link" href="/logout">Logout</a>
        </div>
    </nav>

    <div class="page__wrapper">
        <div class="sidebar">
            <ul class="sidebar__list">
                <li id="admin" class="sidebar__item active" >
                    Admin
                </li>
                <li id="user" class="sidebar__item" >
                    User
                </li>
            </ul>
        </div>

        <div class="content">
            <h1 class="content__header">Admin panel</h1>
            <div class="content__wrapper">
                <ul id="panelNav" class="nav nav-tabs">
                    <li class="nav-item">
                        <a id="usersTable" class="nav-link active" aria-current="page" href="#">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a id="newUser" class="nav-link" href="#">New user</a>
                    </li>
                </ul>
                <p id="contentDescription" class="content__description">All users</p>
                <!--================= Table ===================-->
                <div id="tableContainer" class="table__container"></div>
            </div>
        </div>
    </div>  <!-- Content -->
</div> <!-- Page -->


<!-- ==================== Edit form ================-->
<div id="editForm" class="popup invisible">
    <div class="edit-form__wrapper">
        <p class="edit-form__description">Edit user</p>
        <button type="button" class="btn-close edit-form__close-button close__button" aria-label="Close"></button>
        <form id="edit-form" class="user-form edit-form">
            <div class="edit-form__content">
                <input type="hidden" name="passwordOld">
                <div class="mb-3 user-form__content">
                    <label for="idEdit" class="form-label user-form__label">ID</label>
                    <input type="text" class="form-control user-form__input" id="idEdit" name="idEdit">
                </div>
                <div class="mb-3 user-form__content">
                    <label for="firstNameEdit" class="form-label user-form__label">First name</label>
                    <input type="text" class="form-control user-form__input" id="firstNameEdit" name="firstNameEdit">
                </div>
                <div class="mb-3 user-form__content">
                    <label for="lastNameEdit" class="form-label user-form__label">Last name</label>
                    <input type="text" class="form-control user-form__input" id="lastNameEdit" name="lastNameEdit">
                </div>
                <div class="mb-3 user-form__content">
                    <label for="ageEdit" class="form-label user-form__label">Age</label>
                    <input type="number" class="form-control user-form__input" id="ageEdit" name="ageEdit">
                </div>
                <div class="mb-3 user-form__content">
                    <label for="emailEdit" class="form-label user-form__label">Email</label>
                    <input type="email" class="form-control user-form__input" id="emailEdit" name="emailEdit">
                </div>
                <div class="mb-3 user-form__content">
                    <label for="passwordEdit" class="form-label user-form__label">Password</label>
                    <input type="password" class="form-control user-form__input" id="passwordEdit" name="passwordEdit">
                </div>
                <div class="mb-3">
                    <label for="roleEdit" class="form-label user-form__label">Role</label>
                    <select class="form-select" id="roleEdit" multiple name="roleEdit">
                        <option selected value="ROLE_ADMIN">ADMIN</option>
                        <option value="ROLE_USER">USER</option>
                    </select>
                </div>
            </div>
            <div class="button_wrapper">
                <button type="button" class="btn btn-secondary edit-form__button close__button">Close</button>
                <button type="submit" class="btn btn-primary edit-form__button">Edit</button>
            </div>
        </form>
    </div>
</div>


<!-- ======================== delete form ====================== -->

<div id="deleteForm" class="popup invisible">
    <div class="edit-form__wrapper">
        <p class="edit-form__description">Delete user</p>
        <button type="button" class="btn-close edit-form__close-button close__button" aria-label="Close"></button>
        <form id="delete-form" class="user-form edit-form">
            <div class="edit-form__content">
                <div class="mb-3 user-form__content">
                    <label for="idDelete" class="form-label user-form__label">ID</label>
                    <input type="text" class="form-control user-form__input" id="idDelete" name="idDelete">
                </div>
                <div class="mb-3 user-form__content">
                    <label for="firstNameDelete" class="form-label user-form__label">First name</label>
                    <input type="text" class="form-control user-form__input" id="firstNameDelete">
                </div>
                <div class="mb-3 user-form__content">
                    <label for="lastNameDelete" class="form-label user-form__label">Last name</label>
                    <input type="text" class="form-control user-form__input" id="lastNameDelete">
                </div>
                <div class="mb-3 user-form__content">
                    <label for="ageDelete" class="form-label user-form__label">Age</label>
                    <input type="number" class="form-control user-form__input" id="ageDelete">
                </div>
                <div class="mb-3 user-form__content">
                    <label for="emailDelete" class="form-label user-form__label">Email</label>
                    <input type="email" class="form-control user-form__input" id="emailDelete">
                </div>
                <div class="mb-3">
                    <label for="roleDelete" class="form-label user-form__label">Role</label>
                    <select class="form-select" id="roleDelete" multiple>
                        <option selected value="ROLE_ADMIN">ADMIN</option>
                        <option value="ROLE_USER">USER</option>
                    </select>
                </div>
            </div>
            <div class="button_wrapper">
                <button type="button" class="btn btn-secondary edit-form__button close__button">Close</button>
                <button type="submit" class="btn btn-danger edit-form__button">Delete</button>
            </div>
        </form>
    </div>
</div>

<script type="module" src="/scripts/index.js" ></script>
</body>
</html>