<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Document</title>
</head>
<body>

  <form action="#" class="form" th:action = "@{/admin/save}" method="post" th:object="${user}">
    <input type="hidden" th:field="*{id}">

    <label for="" class="form__label">
      Input username:
        <input cssClass="form__input" th:field="*{name}" />
        <p class="form__error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
    </label>

    <label for="" class="form__label">
      Input password:
        <input cssClass="form__input" th:field="*{password}" />
        <p class="form__error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
    </label>

    <label for="" class="form__label">
      Input user email:
        <input cssClass="form__input" th:field="*{email}" />
        <p class="form__error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
    </label>

      <ul>
          <li th:each="role : ${roles}">
              <input th:id="${role.role}" type="checkbox" th:value="${role}" th:name="params"  th:checked="${user.roles.contains(role)}" />
              <label th:for="${role.role}" th:text="${role}" />
          </li>
      </ul>

    <button type="submit">Save</button>
  </form>

</body>
</html>